# Ignorar todos los archivos y carpetas por defecto
*

# Permitir exclusivamente los archivos con extensión .ipynb
!*.ipynb
!*.pdf
!*.py
!*.txt
!*.pgn
!.gitignore
!imegenes/
!imagenes_intermedias/
!imagenes_out/